.gcloudignore
.git
.github
.firebase
.env
.env.*
config/.env
node_modules
dist
public
tests
coverage
*.log
*.pid
serviceAccountKey.json
**/serviceAccountKey.json
*service-account*.json
**/*service-account*.json
*firebase-adminsdk*.json
**/*firebase-adminsdk*.json
